@use "sass:math";

.block-editor {
	[data-type="dapd/us-map"] {
		position: relative;

		&.is-selected {
			.map-mask {
				z-index: -1;
			}
		}

		// Needed to bring block into focus and activate Inspector Controls
		.map-mask {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
			background-color: rgba(#fff, .4);
			display: flex;
			align-items: center;
			align-content: center;
			justify-items: center;
			justify-content: center;

			&::after {
				content: 'Click to activate map.';
			}
		}

		&.wp-block-map--us {
			padding: 20px;

			.wp-block-map__container {
				position: relative;
				padding-bottom: percentage(math.div(4, 6));
				margin-bottom: 40px;
			}

			.wp-block-map__map,
			.jvectormap-container {
				position: absolute !important;
				width: 100%;
				height: 100%;
			}

			.wp-block-map__map {
				.jqvmap-zoomin,
				.jqvmap-zoomout {
					display: flex;
					align-items: center;
					align-content: center;
					justify-content: center;
					justify-items: center;
					left: 10px;
					border-radius: 10rem;
					padding: 0;
					width: 30px;
					height: 30px;
					font-size: 15px;
					line-height: 1;
					font-family: 'Arial', 'Helvetica Neue', sans-serif;
				}

				.jqvmap-zoomin {
					top: 10px;
				}

				.jqvmap-zoomout {
					top: 45px;
				}
			}
		}
	}

	.wp-block-map__bottom {
		.wp-block-map__list {
			.list__item {
			}
		}
	}
}

// Inspector Controls
.dapd-us-map-settings {
	&__prompt {
		padding: 0 0 20px 0;
	}

	.state.hidden {
		display: none;
	}
}

