@use "sass:math";

.wp-block-map--us {
	.wp-block-map__top {
		.wp-block-map__container {
			position: relative;
			padding-bottom: percentage(math.div(4, 6));
			margin-bottom: 40px;
		}

		.wp-block-map__map {
			position: absolute !important;
			width: 100%;
			height: 100%;

			.jqvmap-zoomin,
			.jqvmap-zoomout {
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				justify-items: center;
				left: 10px;
				border-radius: 10rem;
				padding: 0;
				width: 30px;
				height: 30px;
				font-size: 15px;
				line-height: 1;
				font-family: 'Arial', 'Helvetica Neue', sans-serif;
			}

			.jqvmap-zoomin {
				top: 10px;
			}

			.jqvmap-zoomout {
				top: 45px;
			}
		}
	}
}
